@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: "Roboto", sans-serif;
}
h1,h2,h3,h4,h5,h6 
{
    font-family: "Quicksand", sans-serif;
}
ul{
    list-style: none;
}
.con{
    max-width: 1200px;
    margin: auto;
}
.flex 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul 
{
    display: flex;
    gap: 20px;
    color: #F46A06;
}
.btn 
{
    background: #F46A06;
    color: #fff;
    padding: 20px;
}
.logo span 
{
    color: #F46A06;
}
nav 
{
    margin-left: auto;
    margin-right: 50px;
}
.banner 
{
    padding: 50px 0;
}
.b-left 
{
    width: 45%;
}
.b-left  h1 
{
    font-size: 50px;
}
.b-left p 
{
    padding: 20px 0;
}
.counter
{
    background: #F46A06;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}
.counter h1 
{
    font-size: 55px;
}
.counter p 
{
    font-size: 13px;
}
.w100
{
    width: 100%;
}
.gap 
{
    gap: 50px;
}
.quote
{
    background: url(../img/img2.jpg);
    color: #fff;
    padding: 5% 10%;
    text-align: center;
}

.quote h1 
{
    color: #F46A06;
    padding: 30px 0;
    font-size: 46px;

}
.title
{
    padding: 50px 0;
    text-align: center;
}

footer
{
    background: #F46A06;
    color: #fff;
    padding: 40px;
    text-align: center;
}
footer ul 
{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 40px 0;
}